.footer-main {
  padding: 50px 0;
  color: var(--grey);
}

@media screen and (min-width: 992px) {
  .footer-main {
    padding: 100px 0 80px;
  }
}

.footer-main__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-main__text {
    text-align: left;
    margin-top: 28px;
  }
}

.footer-main__icons {
  margin-top: 16px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .footer-main__icons {
    width: 100%;
    margin-top: 32px;
  }
}

.footer-main__icon {
  width: 42px;
  height: 40px;
  border-radius: 50%;
  background: #EDEEF0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  color: var(--dark);
}

.footer-main__icon:last-child {
  margin: 0;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .footer-menu {
    margin-bottom: 0;
  }
}

.footer-menu__title {
  color: var(--dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.footer-menu__link {
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark);
}

@media screen and (min-width: 768px) {
  .footer-menu__link {
  margin-bottom: 24px;
  }
}

.footer-menu__link:last-child {
  margin-bottom: 0;
}

.footer-main__bottom {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-main__bottom {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .footer-main__bottom {
    padding-top: 96px;
  }
}

.footer-main__bottom-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #1576D8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-main__copyright {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.footer-main__element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-main__element {
    align-items: flex-start;
  }
}

.footer-main__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-main__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}