.navigation {
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
}

.navigation__title {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* text-align: center; */
  color: var(--light);
  margin-right: 40px;
  text-decoration: none;
  cursor: pointer;
}

.navigation__title:last-child {
  margin: 0;
}

.navigation__title_btn {
  border: 2px solid var(--light);
}

.navigation__title_menu {
  margin: 0;
}

@media screen and (max-width: 991px) {
  .navigation_fixed {
    position: fixed;
    top: var(--header-main);
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--primary);
  }

  .navigation__title {
    display: block;
    margin-right: 0;
    padding: 15px 0;
  }
}

