.offering {
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .offering {
    padding: 80px 0;
  }
}

@media screen and (min-width: 992px) {
  .offering {
    padding: 100px 0 80px;
  }
}

.offering__title-block {
  padding-bottom: 36px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .offering__title-block {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 992px) {
  .offering__title-block {
    text-align: start;
    padding-bottom: 90px;
  }
}

.offering__title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--dark);
}

@media screen and (min-width: 768px) {
  .offering__title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: var(--dark);
  }
}

.offering__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .offering__subtitle {
    font-size: 18px;
    line-height: 32px;
    margin-top: 42px;
  }
}

@media screen and (min-width: 992px) {
  .offering__subtitle {
    margin: 0;
  }
}

.offering__img {
  width: 100%;
}

.offering-element {
  display: flex;
  margin-bottom: 45px;
  width: 100%;
}

.offering-element__info {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .offering-element__info {
    margin-left: 30px;
  }
}

.offering-element__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .offering-element__icon {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 992px) {
  .offering-element__icon {
    width: 56px;
    height: 56px;
  }
}

.offering-element__heading {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--dark);
}

@media screen and (min-width: 768px) {
  .offering-element__heading {
    font-size: 22px;
    line-height: 32px;
  }
}

.offering-element__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
  margin-top: 6px;
}


