.btn {
  --white: #FFFFFF; 
  border-radius: 0.5rem;
  border: none;
	color: var(--white);
  cursor: pointer;
  font-weight: 700;
	font-size: 1rem;
  line-height: 1.375;
  text-decoration: none;
  background: transparent;	  
  padding: 0 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.btn-outline {
  border: 2px solid var(--light);
}

.btn-icon {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-success {
	background: var(--succees);
}

.btn-primary {
  background: var(--primary);
}

.btn-lg {
  padding: 1rem 1.5rem;
}

.btn-sm {
  padding: 0 1.125rem;
  height: 36px;
}

.btn_header-form {
  width: 100%;
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .btn_header-form {
    width: initial !important;
    margin: 6px;
    border-radius: 0.25rem;
  }
}

.btn_action {
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .btn_action {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 14px 32px;
  }
}

.btn_testimonial {
  margin-left: 30px;
}

