/* Sticky footer */
.page {
  /* font-size: 16px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  flex-grow: 1;
}

/* .page__header {} */
/* .page__footer{} */