.action {
  text-align: center;
  padding: 100px 0;

  /* background: url('../images/map.svg') no-repeat top center;
	background-size: contain; */
}

.action__title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--dark);
}

.action__text {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: var(--grey);
}
