.benefit {
  margin-bottom: 80px;
}

.benefit-block {
  padding: 20px 40px;
  margin-bottom: 20px;
}

.benefit-block__icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #E5EAF4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit-block__title {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--dark);
  margin-top: 26px;
}

.benefit-block__text {
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
  margin-top: 8px;
}

@media screen and (min-width: 992px) {
	.benefit-block {
		margin-bottom: 40px;
	}
}