.benefit-block {
  padding: 20px 40px;
  background: var(--light);
  margin-bottom: 40px;
}

.benefit-block__icon {
  
}

.benefit-block__title {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--dark);
}

.benefit-block__text {
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
  margin-top: 8px;
}