.btn {
  --white: #FFFFFF; 
  border-radius: 0.5rem;
  border: none;
	color: var(--white);
  cursor: pointer;
  text-align: center;
  font-weight: 700;
	font-size: 1rem;
	line-height: 1.375;
  background: repeat;
  padding: 0;
}

.btn-success {
	background: var(--succees);
}

.btn-primary {
  background: var(--primary);
}

.btn-md {
  padding: 0.75rem 1.5rem;
}

.btn-sm {
  padding: 0.5rem 1.125rem;
}

.btn-lg {
  padding: 1rem 1.5rem;
}

.btn_header-form {
  margin: 6px;
	border-radius: 0.25rem;
}

.btn_action {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 30px;
}

.btn_testimonial {
  margin-left: 30px;
}