.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-block {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-block {
    display: block !important;
  }
}

@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-block {
    display: block !important;
  }
}

@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-block {
    display: block !important;
  }
}
