.footer-main {
  padding: 50px 0 50px 0;
  color: var(--grey);

  min-height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-main__text {
  margin-top: 28px;
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
}

.footer-main__icons {
  margin-top: 32px;
  display: flex;
}

.footer-main__icon {
  width: 42px;
  height: 40px;
  border-radius: 50%;
  background: #EDEEF0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  color: var(--dark);
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-menu__title {
  color: var(--dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.footer-menu__info {
  text-decoration: none;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark);
}

.footer-menu__info:last-child {
  margin-bottom: 0;
}

.footer-main__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.footer-main__bottom-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #1576D8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-main__copyright {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}