:root {
  --font-main: 'Open Sans', sans-serif;
  --font-secondary: 'HK Grotesk', sans-serif;
  --primary: #1565D8;
  --grey: #5A7184;
  --dark: #183B56;
  --succees: #36B37E;
  --danger: #E95432;
  --light: #F7F8F9;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

p {
  margin: 0;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}