:root {
  --font-main: 'Open Sans', sans-serif;
  --font-secondary: 'HK Grotesk', sans-serif;
  --primary: #1565d8;
  --grey: #5a7184;
  --dark: #183b56;
  --succees: #36b37e;
  --danger: #e95432;
  --light: #f7f8f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  margin: 0;
}

p {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.scroll-disable {
  overflow: hidden;
}
