.information {
  background: var(--primary);
  padding: 36px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .information {
    padding: 80px 0;
  }
}

.information-item__title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .information-item__title {
    font-size: 36px;
    line-height: 48px;
  }
}

@media screen and (min-width: 992px) {
  .information-item__title {
    font-size: 48px;
    line-height: 60px;
  }
}

.information-item__paragraph {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .information-item__paragraph {
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (min-width: 992px) {
  .information-item__paragraph {
    font-size: 18px;
    line-height: 32px;
  }
}

.information-item {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .information-item {
    padding: 0;
  }
}
