.navigation {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navigation__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--light);
  margin-right: 40px;
  text-decoration: none;
  cursor: pointer;
}

.navigation__title:last-child {
  margin: 0;
}

.navigation__title_btn {
  border: 2px solid var(--light);
  border-radius: 8px;
  background: repeat;
  width: 130px;
  height: 48px;
  font-weight: 700;
  /* font-size: 16px; */
  /* line-height: 22px; */
  /* text-align: center; */
  color: var(--light);
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__item {
  display: flex;
  align-items: flex-start;
  margin-right: 40px;
}

.navigation__btn-menu {
  border: none;
  background: repeat;
  padding: 0 0 0 4px;
}

.navigation__title_menu {
  margin: 0;
}