.offering {
  padding: 100px 0;
}

.offering__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

.offering__heading {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--dark);
}

.offering__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
  margin-top: 6px;
}

.offering__title-block {
  padding-bottom: 90px;
}

.offering__title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: var(--dark);
}

.offering__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--grey);
}

.offering__element {
  margin-bottom: 45px;
}

.offering__element:last-child {
  margin: 0;
}